body {
    background-color: rgba(188,88,88, 0.3);
    margin: 0;
    padding: 50;
    overflow: hidden;
}

.container {
    height: 200;
    width: 200;
    background-color: rgba(0,0,0,0.3);
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
}