.hello {
  color: red;
}

body {
  background-color: rgba(200,20,100, 0.2);
  margin: 0;
  padding: 25px;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -999;
}

.container {
  height: 300px;
  width: 500px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow: hidden;
}

.topBar {
  display: block;
  background-color: rgba(0,0,0, 0.7);
  height: 35px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.topBar:hover {
  cursor: grab;
}

.topBarButton {
  color: white;
  float: right;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: rgba(0,0,0,0.3);
  border: none;
  margin: 0px;
  padding: 12px;
  line-height: 0px;
  font-size: 20px;
  text-align: center;
}

.topBarButton:hover {
  cursor: pointer;
  color: rgba(200, 0, 180, 1);
  background-color: rgba(40,0,40,0.8);
}

.topBarButton:active {
  border: none;
}

.maneuverElem {
  z-index: 2;
  cursor: pointer;
  position: relative;
  width: calc(100% - 105px);
  height: 35px;
}

.maneuverElem:active {
  cursor: grab;
}